.login {
  margin: 150px auto auto auto;
}

.inputDiv {
  width: 300px;
}

.input {
  margin-bottom: 4px;
  border-top: 0 none;
  border-left: 0 none;
  border-right: 0 none;
}

.buttonDiv {
  margin-top: 4px;
}

.button {
  margin-right: 4px;
}
